<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b46aaba4-4953-49f7-94f5-b6e708757474" Publisher="CN=Andreas" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Lekplatser Malmö</DisplayName>
    <PublisherDisplayName>Andreas</PublisherDisplayName>
    <Logo>Assets\logo-50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Newman.Win.App">
      <VisualElements DisplayName="Lekplatser Malmö" Logo="Assets\logo-150.png" SmallLogo="Assets\logo-30.png" Description="Visar lekplatser i Malmö" ForegroundText="light" BackgroundColor="#00693C">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\logo-620-300.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>