<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="21411AndreasHammar.LekplatserLomma" Publisher="CN=FA18167A-309D-4036-BC20-56EAF537BC91" Version="1.0.0.2" />
  <Properties>
    <DisplayName>Lekplatser Lomma</DisplayName>
    <PublisherDisplayName>Andreas Hammar</PublisherDisplayName>
    <Logo>Assets\logo-50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Newman.Win.App">
      <VisualElements DisplayName="Lekplatser Lomma" Logo="Assets\logo-150.png" SmallLogo="Assets\logo-30.png" Description="Visar lekplatser i Lomma" ForegroundText="light" BackgroundColor="#00693C">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\logo-620-300.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>